<header class="header">
    <div class="container">
        <div class="header-body">
            <button type="button" class="btn-navigation">
                <i class="icon-o-ticket-menu"></i>
            </button>
            <div class="header-logo">
                <a href="#" class="logo">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="header-menu">
                <div class="search">
                    <div class="search-input-wrapp">
                        <div class="search-input">
                            <button id="search_input" class="btn-search-input">
                                <i class="icon-o-ticket-search"></i>
                            </button>
                            <input id="main_search" type="text">
                            <button class="btn-close-search">
                                <i class="icon-o-ticket-close"></i>
                            </button>
                        </div>
                        <div class="search-preview">
                            <div class="search-list">
                                <div class="search-item">
                                    <div class="thumb">
                                        <img src="https://via.placeholder.com/70" alt="">
                                    </div>
                                    <a href="#" class="name">Alyona Alyona</a>
                                    <div class="date">10.05.2019, 19:00</div>
                                    <div class="location">Киев, Платформа Арт-Завод</div>
                                    <div class="price">от 449 грн.</div>
                                    <a href="#" class="btn btn-green btn-small">Купить билет</a>
                                </div>
                                <div class="search-item">
                                    <div class="thumb">
                                        <img src="https://via.placeholder.com/70" alt="">
                                    </div>
                                    <a href="#" class="name">Alyona Alyona</a>
                                    <div class="date">10.05.2019, 19:00</div>
                                    <div class="location">Киев, Платформа Арт-Завод</div>
                                    <div class="price">от 449 грн.</div>
                                    <a href="#" class="btn btn-green btn-small">Купить билет</a>
                                </div>
                            </div>
                            <div class="button-wrapp">
                                <a href="#">Все результаты</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="localization">
                    <a href="#location-form" class="popup-location">
                        <i class="icon-o-ticket-icon-place"></i>
                        <span>Киев</span>
                    </a>
                </div>
                <div class="auth">
                    <a href="#login-form" class="popup-login">Войти</a>
                </div>
            </div>
        </div>
    </div>

    <div class="navigation-wrapp">
      <div class="navigation-overlay"></div>
        <div class="navigation">
          <div class="navigation-body">
              <button class="btn-close-navigation">
                <i class="icon-o-ticket-close"></i>
              </button>
              <div class="lang">
                <a href="#" class="lang-item">Ua</a>
                <a href="#" class="lang-item">Ru</a>
                <a href="#" class="lang-item">En</a>
              </div>
              <ul class="nav-list">
                <li class="nav-item">
                  <a href="#">О нас</a>
                </li>
                <li class="nav-item">
                    <a href="#">Клиентам</a>
                </li>
                <li class="nav-item">
                    <a href="#">Партнерам</a>
                </li>
                <li class="nav-item">
                    <a href="#login-form" class="popup-login">Вход</a>
                </li>
                <li class="nav-item">
                    <a href="#register-form" class="popup-register">Регистрация</a>
                </li>
              </ul>
              <div class="social-list">
                <a href="#" class="social-item">
                    <i class="icon-o-ticket-telegram"></i>
                </a>
                <a href="#" class="social-item">
                    <i class="icon-o-ticket-icon-fb-default"></i>
                </a>
                <a href="#" class="social-item">
                    <i class="icon-o-ticket-twitter"></i>
                </a>
              </div>
          </div>
        </div>
    </div>
</header>